@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf");
}

.app {
  text-align: center;
  font-family: "Crimson Pro";
}

.name {
  margin-bottom: 0;
  font-size: 4rem;
}

.professional-title {
  margin-top: 0;
  font-size: 1.6rem;
  color: #d3d3d3;
}

.app-header {
  background-color: #1d293f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 805px) {
  .name {
    font-size: 2rem;
  }
  
  .professional-title {
    font-size: 0.8rem;
  }
}